header {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100vw;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	color: $white;
	background-color: black;
	transition: height 0.5s;
	&.scroll {
		height: 80px;
		svg {
			width: 25px;
		}
	}
	h1 {
		font-size: 0;
		svg {
			fill: $white;
			width: 35px;
			transition: all 0.5s;
		}
	}
	nav {
		ul.nav {
			display: flex;
			li {
				// border: 1px solid $white;
				position: relative;
				font-weight: bold;
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					// width: 80%;
					width: 0;
					height: 3px;
					background-color: $white;
					transition: all 0.5s;
				}
				&:hover::after {
					width: 80%;
				}
				a {
					display: block;
					padding: 15px;
					width: 100%;
					height: 100%;
				}
			}
		}
		@media (max-width: 765px) {
			position: fixed;
			right: -250px;
			top: 0;
			bottom: 0;
			background-color: $black;
			display: flex;
			align-items: center;
			border-left: 1px solid #ccc;
			transition: all 0.5s;
			&.moveLeft {
				right: 0;
			}
			ul.nav {
				flex-direction: column;
				li {
					a {
						width: 250px;
						height: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
	.trigger {
		display: none;
		cursor: pointer;
		width: 30px;
		height: 30px;
		position: relative;
		right: 10px;
		@media (max-width: 765px) {
			display: block;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: $white;
			transition: all 0.5s;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		span {
			position: absolute;
			font-size: 0;
			width: 100%;
			height: 3px;
			top: 50%;
			transform: translateY(-50%);
			background-color: $white;
			transition: width 0.3s;
		}
		&.active {
			span {
				width: 0;
			}
			&::before,
			&::after {
				top: 50%;
				transform: translateY(-50%);
			}
			&:before {
				transform: translateY(-50%) rotate(45deg);
			}
			&:after {
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}
