main {
	width: 90vw;
	max-width: 1300px;
	margin: 0 auto;
	// border: 1px solid #fff;
	section {
		padding: 100px 0;
	}
	section#title {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: $white;
		flex-direction: column;
		.homeTitleWrap {
			span {
				display: block;
				margin-left: 0.2vw;
				margin-bottom: 10px;
				@media (max-width: 765px) {
					font-size: 12px;
				}
			}
			h2 {
				display: inline-block;
				font-size: min(5vw, 42px);
				position: relative;
				&::after {
					content: "";
					position: absolute;
					right: -5px;
					bottom: 0;
					width: 3px;
					height: 90%;
					background-color: $white;
				}
				&.active::after {
					display: none;
				}
			}
		}
		.videoWrap {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			margin: 0;
			padding: 0;
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 20%;
				left: 0;
				bottom: 0;
				opacity: 0.6;
				background-color: black;
			}
		}
	}
	section#history {
		width: 100%;
		// border: 1px solid red;
		color: $white;
		.titleWrap {
			width: 100%;
			height: 150vh;
			// border: 1px solid orange;
			.historyTitle {
				position: fixed;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				overflow: hidden;
				padding-bottom: 10px;
				display: none;
				width: 100%;
				h2 {
					display: inline-block;
					font-size: min(8vw, 90px);
					font-weight: bold;
					margin-bottom: 20px;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						width: 0;
						left: 0;
						bottom: -10px;
						height: 50%;
						z-index: -1;
						background-color: $accentColor;
						transition: all 0.5s;
					}
					&.active::after {
						animation: rightMove 0.5s forwards;
						@keyframes rightMove {
							to {
								width: 100%;
							}
						}
					}
				}
				p {
					font-size: min(2.5vw, 22px);
				}
			}
		}
		.historyContainer {
			width: 100%;
			display: flex;
			gap: 50px;
			.historyImgContainer {
				position: fixed;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 90vw;
				max-width: 1300px;
				z-index: 999;
				display: none;
				@media (max-width: 1000px) {
					z-index: -1;
				}
				img {
					display: block;
					width: calc(50% - 25px);
					transition: all 0.5s;
					@media (max-width: 1000px) {
						width: 100%;
						opacity: 0.6;
					}
				}
			}
			.historyImgWrap {
				flex: 1;
				@media (max-width: 1000px) {
					flex: 0;
				}
			}
			article.history {
				flex: 1;
				padding: 200px 0;
				display: flex;
				flex-direction: column;
				gap: 200px;

				ul {
					// border: 1px solid #fff;
					h3 {
						display: inline-block;
						font-size: 48px;
						font-weight: bold;
						margin-bottom: 30px;
						position: relative;
						@media (max-width: 1000px) {
							font-size: 30px;
						}
						&::after {
							content: "";
							position: absolute;
							z-index: -1;
							left: 0;
							bottom: -20%;
							width: 0;
							height: 50%;
							background-color: $accentColor;
							transition: width 0.4s;
						}
						&.active::after {
							width: 100%;
						}
					}
					li {
						padding-top: 20px;
						display: flex;
						gap: 50px;
						span {
							color: $subTextColor;
							font-size: 14px;
						}
						p {
							line-height: 1.3;
						}
						@media (max-width: 768px) {
							gap: 20px;
							span {
							}
							p {
								font-size: 14px;
								font-weight: 300;
							}
						}
					}
				}
			}
		}
	}
	section#about {
		// border: 1px solid orange;
		padding: 400px 0 100px;
		color: $black;
		@media (max-width: 1000px) {
			padding-top: 200px;
		}
		.articleContentContainer {
			display: flex;
			align-items: center;
			gap: 50px;

			.articleImgWrapper {
				width: 50%;
				border-radius: 20px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.articleTextWrapper {
				width: 50%;
				h3 {
					font-size: 16px;
					font-weight: bold;
					margin-bottom: 10px;
					&:nth-of-type(2) {
						margin-top: 20px;
					}
				}
				p {
					font-size: 16px;
					color: $textColor;
					line-height: 1.5;
					span {
						display: inline-block;
						margin-top: 20px;
						font-weight: bold;
						color: $black;
					}
				}
			}
			@media (max-width: 1000px) {
				flex-direction: column;
				.articleImgWrapper {
					width: 100%;
					max-width: 500px;
				}
				.articleTextWrapper {
					width: 100%;
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
	section#skills {
		article.skills {
			.articleContentContainer {
				ul.skillCategory {
					display: flex;
					flex-direction: column;
					gap: 50px;
					margin-top: 50px;
					li.categoryList {
						display: flex;
						flex-direction: column;
						gap: 30px;

						p {
							font-size: 22px;
							font-weight: bold;
							@media (max-width: 1000px) {
								font-size: 18px;
							}
						}
						ul {
							display: flex;
							gap: 50px;
							flex-wrap: wrap;

							li {
								width: 100px;
								position: relative;
								&:hover {
									img {
										transform: translateY(-10px);
									}
									p {
										opacity: 1;
									}
								}
								p {
									position: absolute;
									width: 100%;
									text-align: center;
									bottom: 0;
									opacity: 0;
									font-size: 16px;
									transition: all 0.5s;
									@media (max-width: 1000px) {
										font-size: 12px;
									}
								}
								img {
									width: 100%;
									transition: all 0.5s;
								}
							}
							@media (max-width: 1000px) {
								gap: 20px;
								li {
									width: 60px;
								}
							}
						}
					}
				}
			}
		}
	}
	section#project {
		padding-bottom: 300px;
		@media (max-width: 1000px) {
			padding-bottom: 100px;
		}
		.articleTitleContainer {
			margin-bottom: 0;
		}
		.articleContentContainer {
			display: flex;
			// gap: 50px;
			padding-top: 150px;
			.articleImgWrapper {
				width: 50%;
				overflow: hidden;
				display: flex;
				align-items: center;
				img {
					width: 100%;
				}
			}
			.articleTextWrapper {
				width: 50%;
				padding-left: 5vw;
				h3 {
					display: inline-block;
					font-size: 30px;
					font-weight: bold;
					margin-bottom: 40px;
					position: relative;
					margin-top: 20px;
					line-height: 1.5;
					word-break: keep-all;
					span {
						position: absolute;
						font-size: 12px;
						top: -20px;
						left: 0;
						color: $accentColor;
					}
				}
				p {
					font-size: 16px;
					color: $textColor;
					line-height: 1.5;
					word-break: keep-all;
				}
				h4 {
					margin: 25px 0 5px;
					font-weight: bold;
				}

				.buttonWrap {
					display: flex;
					margin-top: 40px;
					gap: 20px;
					.button {
						flex: 0.25;
						background-color: $buttonColor;
						color: $white;
						padding: 10px 25px;
						font-size: 14px;
						transition: all 0.3s;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 10px;
						&:hover {
							background-color: $accentColor;
						}
						img {
							width: 20px;
						}
					}
				}
			}
			@media (max-width: 1000px) {
				flex-direction: column;
				padding-top: 0;
				margin-bottom: 100px;
				gap: 30px;
				&:nth-of-type(2n + 1) {
					flex-direction: column-reverse;
				}
				.articleImgWrapper {
					width: 100%;
					text-align: center;
					justify-content: center;
					img {
						width: 100%;
						max-width: 700px;
					}
				}
				.articleTextWrapper {
					width: 100%;
					padding-left: 0;
					h3 {
						font-size: 22px;
						margin-bottom: 20px;
					}
					h4 {
						font-size: 14px;
					}
					p {
						font-size: 14px;
					}
					.buttonWrap {
						margin-top: 20px;
						.button {
							flex: 0.3;
						}
					}
				}
			}
		}
	}
}
