body * {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000;
  -webkit-animation: intro 8.9s forwards;
          animation: intro 8.9s forwards;
}

@-webkit-keyframes intro {
  0% {
    height: 100vh;
    overflow: hidden;
  }
  99% {
    height: 100vh;
    overflow: hidden;
  }
  100% {
    height: auto;
    overflow: visible;
  }
}

@keyframes intro {
  0% {
    height: 100vh;
    overflow: hidden;
  }
  99% {
    height: 100vh;
    overflow: hidden;
  }
  100% {
    height: auto;
    overflow: visible;
  }
}
.hide {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

.articleTitleContainer {
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid #c1c1c1;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .articleTitleContainer {
    margin-bottom: 0;
  }
}
.articleTitleContainer .articleTitle {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  position: relative;
}
@media (max-width: 1000px) {
  .articleTitleContainer .articleTitle {
    font-size: 30px;
  }
}
.articleTitleContainer .articleTitle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: -20px;
  bottom: 0;
  transform: rotate(45deg);
  background-color: #bf1e2e;
}

.logoAniWrap {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: logoOpacity 3s 8s forwards;
          animation: logoOpacity 3s 8s forwards;
}
@-webkit-keyframes logoOpacity {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 100vw;
  }
}
@keyframes logoOpacity {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 100vw;
  }
}
.logoAniWrap .svgWrap {
  position: relative;
  -webkit-animation: opacity 3s both;
          animation: opacity 3s both;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logoAniWrap .svgWrap svg {
  width: 100px;
  -webkit-animation: svgRotate 1.5s 3.5s forwards;
          animation: svgRotate 1.5s 3.5s forwards;
  overflow: visible;
}
@media (max-width: 550px) {
  .logoAniWrap .svgWrap svg {
    width: 50px;
  }
}
@-webkit-keyframes svgRotate {
  to {
    transform: translate(20px, -35px) rotate(210deg);
  }
}
@keyframes svgRotate {
  to {
    transform: translate(20px, -35px) rotate(210deg);
  }
}
.logoAniWrap .svgWrap svg path.cls-1 {
  fill: #fff;
}
.logoAniWrap .svgWrap svg path.chan {
  -webkit-animation: pathScale 0.8s 5s linear forwards;
          animation: pathScale 0.8s 5s linear forwards;
}
@-webkit-keyframes pathScale {
  to {
    transform: translate(38px, -31px) scale(1.5);
  }
}
@keyframes pathScale {
  to {
    transform: translate(38px, -31px) scale(1.5);
  }
}
@media (max-width: 550px) {
  @-webkit-keyframes pathScale {
    to {
      transform: translate(65px, -49px) scale(1.5);
    }
  }
  @keyframes pathScale {
    to {
      transform: translate(65px, -49px) scale(1.5);
    }
  }
}
.logoAniWrap .svgWrap svg path.yeong {
  -webkit-animation: yMove 0.8s 5s linear forwards;
          animation: yMove 0.8s 5s linear forwards;
}
@-webkit-keyframes yMove {
  to {
    transform: translate(-8px, 9px);
  }
}
@keyframes yMove {
  to {
    transform: translate(-8px, 9px);
  }
}
@media (max-width: 550px) {
  @-webkit-keyframes yMove {
    to {
      transform: translate(-18px, 13px);
    }
  }
  @keyframes yMove {
    to {
      transform: translate(-18px, 13px);
    }
  }
}
.logoAniWrap .svgWrap .portfolioWrap {
  position: absolute;
  overflow: hidden;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.logoAniWrap .svgWrap .portfolioWrap p {
  display: inline-block;
  width: 373px;
  font-weight: bold;
  letter-spacing: 35px;
  -webkit-animation: nameWrapTop 0.8s 6.8s linear both;
          animation: nameWrapTop 0.8s 6.8s linear both;
}
@media (max-width: 550px) {
  .logoAniWrap .svgWrap .portfolioWrap p {
    font-size: 12px;
    width: 293px;
    letter-spacing: 28px;
  }
}
.logoAniWrap .pWrap {
  position: relative;
  left: -30px;
  overflow: hidden;
  width: 120px;
  height: 160px;
  display: flex;
  align-items: flex-end;
  -webkit-animation-name: pWrap, pWrapOpacity;
          animation-name: pWrap, pWrapOpacity;
  -webkit-animation-duration: 3s, 3s;
          animation-duration: 3s, 3s;
  -webkit-animation-delay: 1.5s, 1.5s;
          animation-delay: 1.5s, 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@media (max-width: 550px) {
  .logoAniWrap .pWrap {
    left: 0;
    height: 80px;
  }
}
@-webkit-keyframes pWrap {
  0% {
    width: 0;
  }
  40% {
    width: 120px;
  }
  60% {
    width: 120px;
  }
  100% {
    width: 0;
  }
}
@keyframes pWrap {
  0% {
    width: 0;
  }
  40% {
    width: 120px;
  }
  60% {
    width: 120px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes pWrapOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pWrapOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.logoAniWrap .pWrap p {
  font-size: 60px;
}
@media (max-width: 550px) {
  .logoAniWrap .pWrap p {
    font-size: 50px;
  }
}
.logoAniWrap .nameWrap {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-left: 48px;
  margin-top: -60px;
  padding-bottom: 20px;
  gap: 163px;
  height: 160px;
  align-items: flex-end;
}
@media (max-width: 550px) {
  .logoAniWrap .nameWrap {
    gap: 141px;
    margin-left: 25px;
    margin-top: -72px;
  }
}
.logoAniWrap .nameWrap p {
  font-size: 45px;
  -webkit-animation: nameWrapTop 0.7s 6s linear both;
          animation: nameWrapTop 0.7s 6s linear both;
}
@media (max-width: 550px) {
  .logoAniWrap .nameWrap p {
    font-size: 25px;
  }
}
@-webkit-keyframes nameWrapTop {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes nameWrapTop {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  color: #fff;
  transition: height 0.5s;
}
header.scroll {
  height: 80px;
  background-color: black;
}
header.scroll svg {
  width: 25px;
}
@media (max-width: 768px) {
  header.scroll {
    height: 50px;
  }
  header.scroll svg {
    width: 15px;
  }
}
header h1 {
  font-size: 0;
}
header h1 svg {
  fill: #fff;
  width: 35px;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  header {
    height: 80px;
  }
  header h1 svg {
    width: 20px;
  }
}
header nav ul.nav {
  display: flex;
}
header nav ul.nav li {
  position: relative;
  font-weight: bold;
}
header nav ul.nav li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s;
}
header nav ul.nav li:hover::after {
  width: 80%;
}
header nav ul.nav li a {
  display: block;
  padding: 15px;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  header nav {
    position: fixed;
    right: -250px;
    top: 0;
    bottom: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    transition: all 0.5s;
  }
  header nav.moveLeft {
    right: 0;
  }
  header nav ul.nav {
    flex-direction: column;
  }
  header nav ul.nav li a {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .trigger {
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  right: 10px;
}
@media (max-width: 768px) {
  header .trigger {
    display: block;
  }
}
header .trigger:before, header .trigger:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
header .trigger:before {
  top: 0;
}
header .trigger:after {
  bottom: 0;
}
header .trigger span {
  position: absolute;
  font-size: 0;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  transition: width 0.3s;
}
header .trigger.active span {
  width: 0;
}
header .trigger.active::before, header .trigger.active::after {
  top: 50%;
  transform: translateY(-50%);
}
header .trigger.active:before {
  transform: translateY(-50%) rotate(45deg);
}
header .trigger.active:after {
  transform: translateY(-50%) rotate(-45deg);
}

main {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
}
main section {
  padding: 100px 0;
}
main section#title {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  flex-direction: column;
}
main section#title .homeTitleWrap span {
  display: block;
  margin-left: 0.2vw;
  margin-bottom: 10px;
}
@media (max-width: 765px) {
  main section#title .homeTitleWrap span {
    font-size: 12px;
  }
}
main section#title .homeTitleWrap h2 {
  display: inline-block;
  font-size: min(5vw, 42px);
  position: relative;
}
main section#title .homeTitleWrap h2::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 3px;
  height: 90%;
  background-color: #fff;
}
main section#title .homeTitleWrap h2.active::after {
  display: none;
}
main section#title .videoWrap {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
main section#title .videoWrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#title .videoWrap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  background-color: black;
}
main section#history {
  width: 100%;
  color: #fff;
}
main section#history .titleWrap {
  width: 100%;
  height: 150vh;
}
main section#history .titleWrap .historyTitle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  display: none;
  width: 100%;
}
main section#history .titleWrap .historyTitle h2 {
  display: inline-block;
  font-size: min(8vw, 90px);
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
main section#history .titleWrap .historyTitle h2::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -10px;
  height: 50%;
  z-index: -1;
  background-color: #bf1e2e;
  transition: all 0.5s;
}
main section#history .titleWrap .historyTitle h2.active::after {
  -webkit-animation: rightMove 0.5s forwards;
          animation: rightMove 0.5s forwards;
}
@-webkit-keyframes rightMove {
  to {
    width: 100%;
  }
}
@keyframes rightMove {
  to {
    width: 100%;
  }
}
main section#history .titleWrap .historyTitle p {
  font-size: min(2.5vw, 22px);
}
main section#history .historyContainer {
  width: 100%;
  display: flex;
  gap: 50px;
}
main section#history .historyContainer .historyImgContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 1300px;
  z-index: 999;
  display: none;
}
@media (max-width: 1000px) {
  main section#history .historyContainer .historyImgContainer {
    z-index: -1;
  }
}
main section#history .historyContainer .historyImgContainer img {
  display: block;
  width: calc(50% - 25px);
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  main section#history .historyContainer .historyImgContainer img {
    width: 100%;
    opacity: 0.3;
  }
}
main section#history .historyContainer .historyImgWrap {
  flex: 1;
}
@media (max-width: 1000px) {
  main section#history .historyContainer .historyImgWrap {
    flex: 0;
  }
}
main section#history .historyContainer article.history {
  flex: 1;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  gap: 300px;
}
main section#history .historyContainer article.history ul h3 {
  display: inline-block;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 1000px) {
  main section#history .historyContainer article.history ul h3 {
    font-size: 30px;
  }
}
main section#history .historyContainer article.history ul h3::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -20%;
  width: 0;
  height: 50%;
  background-color: #bf1e2e;
  transition: width 0.4s;
}
main section#history .historyContainer article.history ul h3.active::after {
  width: 100%;
}
main section#history .historyContainer article.history ul h3 span {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  font-size: 16px;
  color: #979797;
}
main section#history .historyContainer article.history ul li {
  padding-top: 20px;
}
main section#history .historyContainer article.history ul li p {
  line-height: 1.3;
  font-size: 18px;
}
@media (max-width: 768px) {
  main section#history .historyContainer article.history ul li p {
    font-size: 14px;
    font-weight: 300;
  }
}
main section#about {
  padding: 400px 0 100px;
  color: #000;
}
@media (max-width: 1000px) {
  main section#about {
    padding-top: 200px;
  }
}
main section#about .articleContentContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}
main section#about .articleContentContainer .articleImgWrapper {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}
main section#about .articleContentContainer .articleImgWrapper img {
  width: 100%;
}
main section#about .articleContentContainer .articleTextWrapper {
  width: 50%;
}
main section#about .articleContentContainer .articleTextWrapper h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
main section#about .articleContentContainer .articleTextWrapper h3:nth-of-type(2) {
  margin-top: 20px;
}
main section#about .articleContentContainer .articleTextWrapper h3 span {
  color: #bf1e2e;
}
main section#about .articleContentContainer .articleTextWrapper p {
  font-size: 16px;
  color: black;
  line-height: 1.5;
}
main section#about .articleContentContainer .articleTextWrapper p span {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
  color: #000;
}
main section#about .articleContentContainer .articleTextWrapper ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main section#about .articleContentContainer .articleTextWrapper ul li {
  display: flex;
  align-items: center;
  gap: 30px;
}
main section#about .articleContentContainer .articleTextWrapper ul li h4 {
  font-size: 48px;
  width: 40px;
  height: 40px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
}
main section#about .articleContentContainer .articleTextWrapper ul li p {
  flex: 1;
}
@media (max-width: 1000px) {
  main section#about .articleContentContainer {
    flex-direction: column;
  }
  main section#about .articleContentContainer .articleImgWrapper {
    width: 100%;
    max-width: 500px;
  }
  main section#about .articleContentContainer .articleTextWrapper {
    width: 100%;
  }
  main section#about .articleContentContainer .articleTextWrapper p {
    font-size: 16px;
  }
}
main section#skills article.skills .articleContentContainer ul.skillCategory {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList p {
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 1000px) {
  main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList p {
    font-size: 18px;
  }
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul li {
  width: 100px;
  position: relative;
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul li:hover img {
  transform: translateY(-18px);
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul li:hover p {
  opacity: 1;
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul li p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  opacity: 0;
  font-size: 16px;
  transition: all 0.8s;
}
@media (max-width: 1000px) {
  main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul li p {
    font-size: 12px;
  }
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul li img {
  width: 100%;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul {
    gap: 20px;
  }
  main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul li {
    width: 60px;
  }
}
main section#project {
  padding-bottom: 300px;
}
@media (max-width: 1000px) {
  main section#project {
    padding-bottom: 100px;
  }
}
main section#project .articleTitleContainer {
  margin-bottom: 50px;
}
main section#project .articleContentContainer {
  display: flex;
  gap: 50px;
  padding-bottom: 100px;
  align-items: center;
}
main section#project .articleContentContainer .articleImgWrapper {
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
main section#project .articleContentContainer .articleImgWrapper img {
  width: 100%;
}
main section#project .articleContentContainer .articleTextWrapper {
  width: 50%;
}
main section#project .articleContentContainer .articleTextWrapper h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-top: 20px;
  line-height: 1.5;
}
main section#project .articleContentContainer .articleTextWrapper h3 span {
  position: absolute;
  font-size: 12px;
  top: -15px;
  left: 0;
  color: #bf1e2e;
}
main section#project .articleContentContainer .articleTextWrapper p {
  font-size: 16px;
  color: #757575;
  line-height: 1.5;
}
main section#project .articleContentContainer .articleTextWrapper h4 {
  margin: 25px 0 5px;
  font-size: 16px;
  font-weight: bold;
}
main section#project .articleContentContainer .articleTextWrapper .buttonWrap {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}
main section#project .articleContentContainer .articleTextWrapper .buttonWrap .button,
main section#project .articleContentContainer .articleTextWrapper .buttonWrap .pdfView {
  padding: 10px 20px;
  background-color: #323030;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s;
  border-radius: 5px;
  text-align: center;
}
main section#project .articleContentContainer .articleTextWrapper .buttonWrap .button:hover,
main section#project .articleContentContainer .articleTextWrapper .buttonWrap .pdfView:hover {
  background-color: #bf1e2e;
}
main section#project .articleContentContainer .articleTextWrapper .buttonWrap .modal-body img {
  width: 100%;
}
@media (max-width: 550px) {
  main section#project .articleContentContainer .articleTextWrapper .buttonWrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  main section#project .articleContentContainer .articleTextWrapper .buttonWrap .button,
main section#project .articleContentContainer .articleTextWrapper .buttonWrap .pdfView {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  main section#project .articleContentContainer {
    flex-direction: column;
    padding-top: 0;
    gap: 30px;
  }
  main section#project .articleContentContainer:nth-of-type(2n) {
    flex-direction: column-reverse;
  }
  main section#project .articleContentContainer .articleImgWrapper {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  main section#project .articleContentContainer .articleImgWrapper img {
    width: 100%;
    max-width: 700px;
  }
  main section#project .articleContentContainer .articleTextWrapper {
    width: 100%;
  }
  main section#project .articleContentContainer .articleTextWrapper h3 {
    font-size: 22px;
  }
  main section#project .articleContentContainer .articleTextWrapper h4 {
    font-size: 14px;
  }
  main section#project .articleContentContainer .articleTextWrapper p {
    font-size: 14px;
  }
}
main section#project .swiperContainer {
  position: relative;
  width: 100%;
}
main section#project .swiper {
  width: 90%;
  height: 100%;
}
main section#project .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
main section#project .swiper .swiper-slide a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
main section#project .swiper .swiper-slide a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#project .swiper .swiper-slide a > p {
  font-weight: bold;
}
main section#project .swiper .swiper-slide a .commentWrap {
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  gap: 20px;
  color: #fff;
  transition: all 0.5s;
}
main section#project .swiper .swiper-slide a .commentWrap h4 {
  font-weight: bold;
  font-size: 25px;
}
main section#project .swiper .swiper-slide a .commentWrap p {
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}
main section#project .swiper .swiper-slide a .commentWrap span {
  display: block;
  padding: 5px 25px;
  border-radius: 5px;
  border: 1px solid #fff;
}
main section#project .swiper .swiper-slide a:hover .commentWrap {
  opacity: 1;
}
main section#project .swiper .swiper-slide a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  transition: all 0.5s;
  opacity: 0;
}
main section#project .swiper .swiper-slide a:hover::after {
  opacity: 1;
}
main section#project .swiper-button-prev,
main section#project .swiper-button-next {
  position: absolute;
  z-index: 10;
  font-size: 40px;
  color: black;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
}
main section#project .swiper-button-prev {
  left: 0;
}
main section#project .swiper-button-next {
  right: 0;
}
main section#project .swiper-button-prev:after,
main section#project .swiper-button-next:after {
  display: none;
}

footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}
footer .articleTitleContainer {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 0;
  margin-bottom: 25px;
}
footer .articleTitleContainer h2.articleTitle::after {
  display: none;
}
footer .contactWrap {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
footer .contactWrap .contactComment {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
footer .contactWrap .contactComment p {
  color: #fff;
}
footer .contactWrap .contactInform {
  width: 50%;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .contactWrap .contactInform p {
  color: #979797;
}
footer .contactWrap .contactInform p span {
  display: inline-block;
  width: 100px;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 1000px) {
  footer .contactWrap {
    flex-direction: column;
  }
  footer .contactWrap .contactComment {
    width: 100%;
  }
  footer .contactWrap .contactInform {
    width: 100%;
    font-size: 16px;
  }
}