body * {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #000;
  transition: all 1s;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.button {
  display: inline-block;
  margin-top: 30px;
  background-color: #323030;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  transition: all 0.5s;
}
.button:hover {
  background-color: #bf1e2e;
}

.articleTitleContainer {
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid #c1c1c1;
  margin-bottom: 50px;
}
.articleTitleContainer .articleTitle {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  position: relative;
}
.articleTitleContainer .articleTitle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: -20px;
  bottom: 0;
  transform: rotate(45deg);
  background-color: #bf1e2e;
}

.logoAniWrap {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: logoOpacity 3s 8s forwards;
          animation: logoOpacity 3s 8s forwards;
}
@-webkit-keyframes logoOpacity {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 100vw;
  }
}
@keyframes logoOpacity {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 100vw;
  }
}
.logoAniWrap .svgWrap {
  position: relative;
  -webkit-animation: opacity 3s both;
          animation: opacity 3s both;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logoAniWrap .svgWrap svg {
  width: 100px;
  -webkit-animation: svgRotate 1.5s 3.5s forwards;
          animation: svgRotate 1.5s 3.5s forwards;
  overflow: visible;
}
@-webkit-keyframes svgRotate {
  to {
    transform: translate(20px, -35px) rotate(210deg);
  }
}
@keyframes svgRotate {
  to {
    transform: translate(20px, -35px) rotate(210deg);
  }
}
.logoAniWrap .svgWrap svg path.cls-1 {
  fill: #fff;
}
.logoAniWrap .svgWrap svg path.chan {
  -webkit-animation: pathScale 0.8s 5s linear forwards;
          animation: pathScale 0.8s 5s linear forwards;
}
@-webkit-keyframes pathScale {
  to {
    transform: translate(38px, -31px) scale(1.5);
  }
}
@keyframes pathScale {
  to {
    transform: translate(38px, -31px) scale(1.5);
  }
}
.logoAniWrap .svgWrap svg path.yeong {
  -webkit-animation: yMove 0.8s 5s linear forwards;
          animation: yMove 0.8s 5s linear forwards;
}
@-webkit-keyframes yMove {
  to {
    transform: translate(-8px, 9px);
  }
}
@keyframes yMove {
  to {
    transform: translate(-8px, 9px);
  }
}
.logoAniWrap .svgWrap .portfolioWrap {
  position: absolute;
  overflow: hidden;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.logoAniWrap .svgWrap .portfolioWrap p {
  display: inline-block;
  width: 373px;
  font-weight: bold;
  letter-spacing: 35px;
  -webkit-animation: nameWrapTop 0.8s 6.8s linear both;
          animation: nameWrapTop 0.8s 6.8s linear both;
}
.logoAniWrap .pWrap {
  position: relative;
  left: -30px;
  overflow: hidden;
  width: 120px;
  height: 160px;
  display: flex;
  align-items: flex-end;
  -webkit-animation-name: pWrap, pWrapOpacity;
          animation-name: pWrap, pWrapOpacity;
  -webkit-animation-duration: 3s, 3s;
          animation-duration: 3s, 3s;
  -webkit-animation-delay: 1.5s, 1.5s;
          animation-delay: 1.5s, 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes pWrap {
  0% {
    width: 0;
  }
  40% {
    width: 120px;
  }
  60% {
    width: 120px;
  }
  100% {
    width: 0;
  }
}
@keyframes pWrap {
  0% {
    width: 0;
  }
  40% {
    width: 120px;
  }
  60% {
    width: 120px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes pWrapOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pWrapOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.logoAniWrap .pWrap p {
  font-size: 60px;
}
.logoAniWrap .nameWrap {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-left: 48px;
  margin-top: -60px;
  padding-bottom: 20px;
  gap: 163px;
  height: 160px;
  align-items: flex-end;
}
.logoAniWrap .nameWrap p {
  font-size: 45px;
  -webkit-animation: nameWrapTop 0.7s 6s linear both;
          animation: nameWrapTop 0.7s 6s linear both;
}
@-webkit-keyframes nameWrapTop {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes nameWrapTop {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  color: #fff;
  background-color: black;
  transition: all 1s;
}
header.scroll {
  height: 80px;
}
header.scroll svg {
  width: 25px;
}
header h1 {
  font-size: 0;
}
header h1 svg {
  fill: #fff;
  width: 35px;
  transition: all 0.5s;
}
header nav ul.nav {
  display: flex;
}
header nav ul.nav li {
  position: relative;
  font-weight: bold;
}
header nav ul.nav li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s;
}
header nav ul.nav li:hover::after {
  width: 80%;
}
header nav ul.nav li a {
  display: block;
  padding: 15px;
  width: 100%;
  height: 100%;
}

main {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
}
main section {
  padding: 100px 0;
}
main section#title {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
main section#title h2 {
  display: inline-block;
  font-size: 5vw;
  position: relative;
}
main section#title h2::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 3px;
  height: 90%;
  background-color: #fff;
}
main section#title h2.active::after {
  display: none;
}
main section#history {
  width: 100%;
  color: #fff;
}
main section#history .titleWrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
main section#history .titleWrap .historyTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
main section#history .titleWrap .historyTitle h2 {
  width: 90vw;
  font-size: min(13vw, 90px);
  font-weight: bold;
  margin-bottom: 20px;
}
main section#history .titleWrap .historyTitle p {
  font-size: 22px;
}
main section#history article.history {
  padding: 200px 0;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 200px;
}
main section#history article.history ul {
  width: 50%;
  display: flex;
  flex-direction: column;
}
main section#history article.history ul h3 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}
main section#history article.history ul li {
  padding-top: 20px;
  display: flex;
  gap: 50px;
}
main section#history article.history ul li span {
  color: #979797;
  font-size: 14px;
}
main section#history article.history ul li p {
  line-height: 1.3;
}
main section#about {
  padding: 400px 0 100px;
  color: #000;
}
main section#about .articleContentContainer {
  display: flex;
  gap: 50px;
}
main section#about .articleContentContainer .articleImgWrapper {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}
main section#about .articleContentContainer .articleImgWrapper img {
  width: 100%;
}
main section#about .articleContentContainer .articleTextWrapper {
  width: 50%;
}
main section#about .articleContentContainer .articleTextWrapper p {
  font-size: 22px;
  color: #757575;
  line-height: 1.5;
}
main section#skills article.skills .articleContentContainer ul.skillCategory {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList p {
  font-size: 22px;
  font-weight: bold;
}
main section#skills article.skills .articleContentContainer ul.skillCategory li.categoryList ul {
  display: flex;
  gap: 50px;
}
main section#project {
  padding-bottom: 300px;
}
main section#project .articleTitleContainer {
  margin-bottom: 0;
}
main section#project .articleContentContainer {
  display: flex;
  gap: 50px;
  padding-top: 100px;
}
main section#project .articleContentContainer .articleImgWrapper {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}
main section#project .articleContentContainer .articleImgWrapper img {
  width: 100%;
}
main section#project .articleContentContainer .articleTextWrapper {
  width: 50%;
}
main section#project .articleContentContainer .articleTextWrapper p {
  font-size: 22px;
  color: #757575;
  line-height: 1.5;
}

footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}
footer .articleTitleContainer {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 0;
  margin-bottom: 25px;
}
footer .articleTitleContainer h2.articleTitle::after {
  display: none;
}
footer .contactWrap {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
footer .contactWrap .contactComment {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contactWrap .contactComment p {
  color: #fff;
}
footer .contactWrap .contactInform {
  width: 50%;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .contactWrap .contactInform p {
  color: #979797;
}
footer .contactWrap .contactInform p span {
  display: inline-block;
  width: 100px;
  color: #fff;
  font-weight: bold;
}